@font-face {
    font-family: "U8-Regular";
    src:url("../fonts/U8Trial-Regular.ttf")
}

@font-face {
    font-family: "U8-Bold";
    src:url("../fonts/U8Trial-Bold.ttf")
}
@font-face {
    font-family: "U8-Medium";
    src:url("../fonts/U8Trial-Medium.ttf")
}

body {
    background-color: white;
    font-size: 20px;
    font-family: "U8-Regular";
    margin:0;
    box-sizing: border-box;
}

header {
    margin-top: -10px;
}

.nav {
    margin:0px 19px 20px 30px;
}

.sm-container {
    padding-top:5px;
    display: block;
    margin: 0px 27px;
    /* text-align:center; */
    /* background-image: url("images/download.png"), url("images/download.png"), url("images/download.png"),url("images/download.png");
    background-size: 15%, 15%, 15%, 15%;
    background-position: left -1% top -15%, right -7.5% top -1%, left -5% bottom -10%, right -5% bottom -5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat; */
   
}

input, select {
    width: 100%;
    border: 0px;
    border-radius: .25rem;
    box-sizing: border-box;
    padding:16px;
    margin: 12px 0px 40px 0px;
    font-family: inherit;
    font-size: .875rem;
    height:55px;
    background-color:rgba(0, 136, 204, 0.08);
    color:#1a202c;
}


label {
    display: block;
    text-align: left;
    font-size: 12px;
    color: #4a5568;
    font-weight: 700;
}

.form-container {
    max-width: 400px;
    width:400px;
    border-radius: 1.25rem 1.25rem 1.25rem 0;
    padding: 0 35px 35px;
}

.piggy-button {
    display:block;
    margin:15px auto;
    padding: 1.25rem 30px ;
    border: 1px solid #30C57B;
    border-radius: .75rem .75rem .75rem 0;
    color: white;
    background-color:#30C57B;
    cursor: pointer;
    font-family: "U8-medium";
    width: 70%;
    font-size: .875rem;
}

.piggy-button:hover{
    background-color: white;
    color:#083E9E;
    border: 1px solid #083E9E;
    transition: ease 0.7s;
}

.halfs {
    float:left;
    margin:0;
    width:50%
}
.half {
    float:right;
    margin:0;
    width:50%
}

.big-container {
    background-size: 60%;
}


.clear {
    clear:both;
}

.header {
    position: absolute;
    left: 50px;
    top: 600px;
}

.header h1 {
    color:#083E9E;
}

.bnnr {
    width:150px;
    border-radius: 7px;
}

.nav li {
    display: inline-block;
    padding:15px;
    color:#083E9E;
    font-size: 15px;
}

.ham {
    display: none;
}

.homimg {
    width: 600px;
}
.illustration {
    max-width: 600px;
    width: 60%;
    margin:0 auto;
    text-align: center;
}
@media only screen and (max-width:890px) {
    .navlist {
        display: none;
    }
    .ham {
        display:block;
        float: right;
    }
    .halfs {
        width: 90%;
    }
    .sm-container {
        margin: 0px 5px;
    }
    .form-container {
        padding: 0 10px 35px;
        max-width: 90%;
        margin:auto;
        text-align: center;
    }
    .homimg {
        width:80%;
    }
    
}

@media only screen and (max-width:1140px) {
    
    .big-container {
        margin: 0px auto;
        max-width: 620px;
    }
}

@media only screen and (max-width:1160px) {
    .header {
        position: relative;
        top:0;
        left:0;
    }
    .halfs {
        width: 90%;
    }
}
.share-social-media {
    min-width: 100%;
    margin: 20px auto;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.share-social-media button,
 .download button{
    margin: 10px;
    padding: 7px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    border-radius: 5px 5px 5px 0;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-family: "U8-Regular";
}

.share-social-media button i,
 .download button i {
    background-color: white;;
    padding: 10px;
    border-radius: 3px;
    margin-right:10px;
} 

/* facebok */
.share-social-media .facebook {
    background-color: #3b5998;
    
}
.share-social-media .fa-facebook-f {
    color: #3b5998;
}
.share-social-media .facebook:hover{
    background-color: white;
    color: #3b5998;
    transition: ease 0.5s;
}
/* twitter */
.share-social-media .twitter {
    background-color: #00acee;
    
}
.share-social-media .fa-twitter {
    color: #00acee;
}
.share-social-media .twitter:hover{
    background-color: white;
    color: #00acee;
    transition: ease 0.5s;
}
/* twitter */
.share-social-media .whatsapp {
    background-color: #25d336;
    
}
.share-social-media .fa-whatsapp {
    color: #25d336;
}
.share-social-media .whatsapp:hover{
    background-color: white;
    color: #25d336;
    transition: ease 0.5s;
}
/* download */
.download {
    margin: 10px 0;
}
.download button {
    margin: 0 auto;
    background-color: #e6302f;
    width: 50%;
    text-transform: uppercase;
    justify-content: center;
    font-size: 15px;
}
.download button i {
    background-color: #e6302f;
}
.download button:hover,
.download button:hover i{
    background-color: white;
    color: #e6302f;
    transition: ease 0.5s;
}

.or {
    text-align: center;
}
@media screen and (max-width: 450px) {
    .share-social-media {
        grid-template-columns: 150px;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }
    .share-social-media button,
 .download button{
    font-size: 15px;
}
}
