{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Dashboard - PiggyVest</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <link rel="shortcut icon" type="image/icon" href="{% static 'images/favicon.png'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div>
        <div class="nav">
            <a href="https://www.piggyvest.com"><img alt="piggy" src="{% static 'images/piggy.png'%}" width="200px"></a>
            <div class="half" style="padding-top:12px">
                <ul class="navlist"style="margin:0; padding: 0; list-style: none;">
                    <li>About</li>
                    <li>Blog</li>
                    <li>FAQ</li>
                    <li>Stories</li>
                    <li>Log In</li>
                    <li>Create an Account</li>
                </ul>
                <span class="ham" >☰</span>
            </div>
        </div>
        <div class="sm-container">
            
            <div class="big-container">
                <div class="halfs">
                    <img src="{% static 'images/home.png'%}" class="homimg" width="600px">
                </div>
                <div class="form-container halfs">
                    <header>
                        <h4 style="margin:15px 0; font-size:24px; color:#083E9E">Calculate your interest</h4>
                        <p
                            style="font-size:14px; color:#4a5568; margin-top:-10px; margin-bottom: 40px; font-family: sans-serif;">
                            Welcome to the future of savings & Investments
                        </p>
                    </header>
                    <form id="form" method="POST" form-data-url="{%url 'calc'%}">
                        {%csrf_token%}
                        <label for="fullname">Amount to invest</label>
                        <input id="amount" placeholder="Amount" type="number" name="amount">
                        <label for="email">Start Date</label>
                        <input id="start" placeholder="Start date" type="date" name="start">
                        <label for="email">End Date</label>
                        <input id="end" placeholder="End date" name="end" type="date">

                        <button id="btns"> CALCULATE </button>
                    </form>
                    <label for="email">Payback Results</label>
                    <textarea id="texta" type="textarea" rows="10" cols="25" disabled placeholder="Payback Results">Zero investments</textarea>
                    <button> LOGIN </button>
                </div>
                <div class="clear"></div>
                <div>
                    <div class="header">
                        <h1>The Better Way<br> To Save & Invest Earn </h1>
                        <p style="font-size: 14.5px; font-weight: 600; color: #444444;">
                            PiggyVest helps you achieve financial freedom by enabling you save responsibly<br> and invest on the go<br><br>
                            10% - 15.5% interests on savings. <br>Earn over 25% return
                            on investments.</p><br>
                        <img src="{% static 'images/ios.png' %}" class="bnnr">
                        <img src="{% static 'images/google.png' %}" class="bnnr">
                    </div>
                    
                </div>
            </div>


        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{%static 'js/script.js'%}"></script>
</body>

</html>